/* @media(max-width: 1048px) {
    .main-bg {
        width: calc(100vw - 148px);
        margin: 0 10px;
        padding: 0;
    }

    .main {
        width: calc(100vw - 148px);
        margin: 0;
    }
} */

@media(max-width: 710px) {

    /* Header */
    .open {
        display: block;
        margin: 0 20px;
        font-size: 28px;
    }
    
    input[type="checkbox"]:checked ~ .open {
        display: none;
    }

    input[type="checkbox"]:checked ~ .close {
        display: block;
        margin: 0 20px;
        padding: 0 1px;
        font-size: 32px;
    }

    header h1 {
        font-size: 32px;
    }
    
    input[type="checkbox"]:checked ~ .bar {
        display: block;
    }

    /* Main */
    .side-bar{
        display: none;
    }

    .main-bg {
        left: 0;
        width: calc(100vw - 20px);
    }

    .main {
        width: 100%;
    }

    .post-left {
        width: 100%;
    }

    .post-right {
        display: none;
    }
}