@media(max-width: 1048px) {

}

@media(max-width: 690px) {

    /* Header */
    .open {
        display: block;
        font-size: 28px;
    }
    
    input[type="checkbox"]:checked ~ .header-btn .open {
        display: none;
    }

    input[type="checkbox"]:checked ~ .header-btn .close {
        display: block;
        font-size: 32px;
    }

    .header-title h1 {
        font-size: 4.5vw;
    }
    
    input[type="checkbox"]:checked ~ .bar {
        display: block;
    }

    /* Main */
    .side-bar{
        display: none;
    }

    .main-bg {
        left: 0;
    }

    .main {
        flex: 1;
    }

    .post-left {
        width: 100%;
    }

    .post-right {
        display: none;
    }
}