* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    height: 100%;
}
header {
    display: flex;
    align-items: center;
    float: left;
    height: 50px;
    width: 100%;
    background-color: rgb(19, 37, 54);
    padding-left: 20px;
    font-size: 10px;
    color: white; 
}

.item{
    background-color: rgb(47, 44, 204);
    float: left;
    height: calc(100% - 50px);
    width: 150px;
    margin: 0;
    padding: 0;
}

.item ul {
    padding-left: 20px;
    float: left;
}

.item li {
    list-style: none;
}

.item a {
    color: white;
    font-size: 12px;
}
