* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: rgb(116, 116, 116);
    margin: 0;
    padding: 0;
    height: 100%;
    display: -webkit-flex;
    flex-direction: column;
}

main {
    height: 100%;
    display: -webkit-flex;
}
header {
    display: -webkit-flex;
    align-items: center;
    height: 64px;
    width: 100%;
    background-color: rgb(19, 37, 54);
    padding-left: 20px;
    color: white; 
}
header h1 {
    width: 100%;
    font-size: 20px;
    font-family: 'arial';
    text-align: center;
}

.side-bar{
    background-color: rgb(19, 37, 54);
    width: 200px;
    margin-top: 10px;
    border-radius: 0 5px 0 0;
}

.side-bar ul {
    padding-left: 20px;
    float: left;
}

.side-bar li {
    list-style: none;
    padding: 5px 0;
}

.side-bar a {
    color: white;
    font-size: 18px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-flex: 1;
    font-family: 'Georgia';
    margin: 10px;
    border: 1px solid rgb(143, 143, 143);
    padding-left: 20px;
    border-radius: 5px;
}

.image {
    background-color: indigo;
    height: 100px;
    width:  100px;
    border-radius: 50px;
    margin-top: 20px;
}